.env
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
dist/
*.egg-info/
.qdrant/
data/*.pdf
!data/.gitkeep
*.sqlite


# May contain notebooks for R&D purpose
development/
