fastapi
uvicorn
langchain
langchain-classic
qdrant-client
langchain-qdrant
langchain-openai
langchain-google-genai
langchain-community
langchain-text-splitters
langchain-core
langgraph
cohere
langchain-cohere
langgraph-checkpoint-sqlite
langsmith
structlog
fastembed
pypdf